<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{page.title}}</title>
    
    <link rel="stylesheet" href="{{ '/vendor/normalize.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url}}">
    <script src="https://use.typekit.net/cca7kqp.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar__button"><i class="material-icons">arrow_back</i></div>
      <a class="top-bar__title">
        <h1><span>C2D</span> | Centre of Direct Democracy</h1>
      </a>
      <!-- <div class="top-bar__button"><i class="material-icons">more_vert</i></div> -->
    </div>
    
      
      {{content}}
      
    <footer class="footer">
      <div class="layout__centered layout--flex">
        <div class="layout__column footer__column">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatem, aliquam distinctio. Repellendus consectetur pariatur, minus molestias fuga sed autem? Ipsa quasi maiores quis. Possimus vero inventore rerum perferendis doloribus.</p>  
        </div>
        <div class="layout__column footer__column">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatem, aliquam distinctio. Repellendus consectetur pariatur, minus molestias fuga sed autem? Ipsa quasi maiores quis. Possimus vero inventore rerum perferendis doloribus.</p>  
        </div>
        <div class="layout__column footer__column">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatem, aliquam distinctio. Repellendus consectetur pariatur, minus molestias fuga sed autem? Ipsa quasi maiores quis. Possimus vero inventore rerum perferendis doloribus.</p>  
        </div>
        <div class="layout__column footer__column">
          <h4>Lorem ipsum dolor</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptatem, aliquam distinctio. Repellendus consectetur pariatur, minus molestias fuga sed autem? Ipsa quasi maiores quis. Possimus vero inventore rerum perferendis doloribus.</p>  
        </div>
      </div>
    </footer>

    <div id="overlay" class="js-overlay"></div>
    <script src="{{'/vendor/jquery-2.1.4.min.js' | relative_url}}"></script>
    <script src="{{'/js/scripts.js' | relative_url}}"></script>
  </body>
</html>
