$color-1: #d85628;
$color-2: #e3a830;
$color-3: #068789;
$color-4: #523f30;
$color-5: #f0ecca;

$main-color: $color-1;

$orange: $color-1;
$yellow: $color-2;
$green: $color-3;
$brown: $color-4;
$beige: $color-5;


* { box-sizing: border-box; }


