.footer {
  background-color: rgba(black, .03);
  padding: 30px 0 50px;
  // margin-top: 30px; // Temp Shit

  &__column {
    h4, p {
      font-size: .8rem;

    }

    h4 {
      text-transform: uppercase;
      margin-bottom: 0;
      color: #444;
    }

    p {
      color: #666;
    }
  }

  .footer__column:not(:last-of-type) { padding-right: 40px; }
}