table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 4px 12px;
    color: rgba(black, .7);
    font-weight: 600;
  }

  td {
    padding: 4px 12px;
    border-bottom: 1px solid rgba(black, .1);
    color: rgba(black, .6);
  }
}


.structured-data {
  td:first-child {
    text-align: right;
    font-weight: 400;
    width: 40%;
  }

  td:last-child {
    width: 100%;
  }
}

.vote-list {

  &--checkbox {
    color: rgba(black, .2);
    text-align: left;
    width: 40px;
  }

  [checked] .vote-list--checkbox {
    color: $green;
  }

  &__empty-warning {
    text-align: center;
    font-weight: 200;
    border-top: 1px solid rgba(black, .05);
    
    td {
      color: rgba($orange, .5);
      font-size: 2rem;
      padding: 50px 0;  
    }
    
    &:hover {
      background-color: transparent !important;
    }

  }

  tr:hover { background-color: rgba(black, .03); }
}

.load-more-button {
  margin-top: 20px;
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  color: $green;
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid rgba($green, .2);
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    width: 0;
    background-color: $green;
  }
}

.load-more-button:hover:before {
  width: 100%;
  transition: width 4s linear;
}

